{% extends "match/base.html" %}

{% block content %}

Delete Record

<form method="post">
    <!-- Loop through fields to display form -->
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
        <p>
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </p>
        </div>
    {% endfor %}
    <!-- Delete button -->
    <input type="submit" value="Delete" />
</form>

<!-- Display records with the pk/id of the record with the other data so users can decide which to delete -->
<table style="width:100%">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Province</th>
      <th>Date of Birth</th>
    </tr>

{% for r in records %}
<tr>
    <td style="text-align:center">{{ r.pk }}</td>
    <td style="text-align:center">{{ r.first_name }}</td>
    <td style="text-align:center">{{ r.last_name }}</td>
    <td style="text-align:center">{{ r.province }}</td>
    <td style="text-align:center">{{ r.date_of_birth }}</td>
  </tr>

{% endfor %}
</table>
{% endblock %}